<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Posts Page</title>
</head>
<body>
    <form action="/" method="post">
        <button type="submit">Main Page</button>
    </form>
    <form action="/posts" method="post">
        <button type="submit">View Posts</button>
    </form>

    <p>
        Here you can create new forms using Create button and view all posts using View all posts button
    </p>
    <p>
        {{ message }}
    </p>
    <form action="/posts/create" method="post">
        <input type="text" name="name" placeholder="John Smith" />
        <input type="email" name="email" placeholder="John@Smith.com" />
        <button type="submit">Create</button>
    </form>

<!--    {{ time }}<br>-->
<!--    {{ request.method }}<br>-->
<!--    {{ request.headers }}-->
</body>
</html>